/* BODY */
body {
    font-family: 'Arial', sans-serif;
    background-color: #DB5656;
    /* твій колір збережено */
    color: #fff;
    margin: 0;
}

.card {
    position: absolute;
    top: -50px;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: rgba(139, 0, 0, 0.8);
}

nav a {
    text-decoration: none;
    color: #ffebeb;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 20px;
    background: #df8383;
    transition: 0.3s;
}

nav a:hover {
    background: #ffebeb;
    color: #8b0000;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 20px;
    background: rgba(139, 0, 0, 0.7);
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 48px;
    text-shadow: 2px 2px 8px #000;
}

/* MAIN */
main {
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
}

main h2 {
    color: #ffd6d6;
    margin-top: 30px;
    font-size: 28px;
    text-shadow: 1px 1px 5px #000;
}

main p {
    margin-bottom: 15px;
    font-size: 18px;
    padding: 20px;
}


article {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: rgba(139, 0, 0, 0.8);
    color: #fff;
    font-size: 14px;
}

footer a {
    color: #ffd6d6;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}